/* some style */
body {
  font-family: sans-serif;
}

#dots {
  position: relative;
  width: 600px;
  height: 200px;
  background: #EFEFEF;
  cursor: crosshair;
}

.dot {
  cursor: hand;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-left: -5px;
  margin-right: -5px;
  background: #000;
  position:absolute;
}
